## Python Basic Programming Exercises

Q1: What is the output of following expression
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [ ]:
#applying BODMAS

5 + 4 * 9 % (3 + 1) / 6 - 1
5 + 4 * 9 % 4 / 6 - 1
5 + 36 % 4 / 6 - 1
5 + 0 / 6 - 1
5-1
4

In [1]:
5 + 4 * 9 % (3 + 1) / 6 - 1

4.0

Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [18]:
Number =input("Please enter the number: ")
Number=int(Number)
if (Number%2)==0:
    print("Number is even")
else:
    print("Number is odd")

Please enter the number: 11
Number is odd

Q3: Write a program to display the multiplication table by taking a number as input. 
    [Hint : Use print statement inside of a loop]

In [1]:
Number=input("Please enter the number: ")
Number=int(Number)
for value in range(1,11):
    value*=Number
    print(value)

Please enter the number: 11
11
22
33
44
55
66
77
88
99
110

Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 
    but are not a multiple of 5.
 
Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [2]:
numbers=[]
for value in range(2000, 3201):
    if value%7==0 and value%5!=0:
        numbers.append(value)
print(numbers)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

Q5: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [16]:
datatype=[]
integer=0
strings=0
floating=0
boolean=0
none=0
list=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
for item in list:
    if type(item)==int:
        integer=integer+1
    elif type(item)==float:
        floating=floating+1
    elif type(item)==str:
        strings=strings+1
    elif type(item)==float:
        floating=floating+1
    elif type(item)==bool:
        boolean=boolean+1
    else:
        none=none+1
print("int:" +str(integer))
print("Float:" +str(floating))
print("String:" +str(strings))
print("Bool:" +str(boolean))
print("None:" +str(none))

int:5
Float:1
String:4
Bool:1
None:1

Q6: Add all values from the list with numeric datatypes 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [23]:
values= [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
sum_items=0
for items in values:
    if (type(items)==int or type(items)==float):
        sum_items+=items
print(sum_items)

21.5

Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [2]:
datatype=[]
list=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
for item in list:
    if type(item)==str:
        datatype.append(item)
"-". join(datatype)
#print(datatype)

'Py-10-SQL-John'

Q8: Write a UDF that takes list as input and returns sum of all numbers 
    (exclude bool) and count of all str 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    
Hint:
-----
def my_func:
    # your code
        
my_func(l1)
# output --> {'Sum': xxx, 'Count_of_Strs': xxx}

In [44]:
def my_func(list):
    numbers=0
    strings=0
    
    for x in list:
        if (type(x)==int or type(x)==float):
            numbers=numbers+x
        elif type(x)==str:
            strings+=1
    print('sum: ', numbers, 'Count_of_Strs: ', strings)

In [45]:
print(my_func([2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]))

sum:  21.5 Count_of_Strs:  4
None

Q9: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with filter

In [42]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
odd=[]
for item in li:
    if item%2==1:
        odd.append(item)
print(odd)

[5, 7, 97, 77, 23, 73, 61]

In [42]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
odd=[item for item in li if (item%2==1)]
print(odd)

[5, 7, 97, 77, 23, 73, 61]

In [40]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
print([x for x in li if x % 2 == 1])

[5, 7, 97, 77, 23, 73, 61]

Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for a list of n number of input 
    numbers.

In [11]:
def my_func(l1):
    """function return the various results for n number of input"""
    sum=0
    for n in l1:
        sum=sum+n
    count=len(l1)
    minimum=min(l1)
    mean=sum/len(l1)
    maximum=max(l1)
    return sum, count, minimum,mean,maximum

In [22]:
my_func([10,20,30,40,50])

(150, 5, 10, 30.0, 50)

Q11: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculatbe area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [4]:
def area(shape, **kwargs):
    """this function helps to calculate the area of shape based on input"""
    
    Area = 0
    
    if shape == 'circle':
        Area = 3.14 * kwargs['radius'] ** 2
    
    elif shape == 'square':
        Area = kwargs['side'] * kwargs['side'] 
        
    elif shape == 'rectangle':
        Area = kwargs['length'] * kwargs['width'] 
    
    else:
        Area = 'Not a valid shape'
        
    return Area

In [7]:
area('square', radius=3, side=3, length=4, width=4)

9

Q12: Write a UDF to reconcile the values within two lists.
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

Hint:
-----
def func(l1, l2):
    your code here...
    
Output:
{'Matched': ['January', 'February', 'June', 'December'],
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [1]:
def reconcile(l1, l2):
    matched=[]
    only_in_l1=[]
    only_in_l2=[]
    for i in l2:
        if i in l1:
          matched.append(i)
        if i not in l1:
            only_in_l2.append(i)
    for i in l1:
        if i not in l2:
            only_in_l1.append(i)
    result={}
    result['match']=list(matched)
    result['only_l1']=list(only_in_l1)
    result['only_l2']=list(only_in_l2)
    print(result)

In [2]:
reconcile(['January', 'February', 'March', 'May', 'June', 'September', 'December'],['January', 'February', 'April', 'June', 'October', 'December'])

{'match': ['January', 'February', 'June', 'December'], 'only_l1': ['March', 'May', 'September'], 'only_l2': ['April', 'October']}

Q13: write a UDF to check if a number is prime or not.

In [69]:
import math as math
def ifprime(num):
    count=0
    i=1
    while(i<=num):
        if(num%i==0):
            count+=1
        i+=1
    if(count==2):
        print("Prime Number")
    else:
        print("Not a Prime Number")

In [97]:
ifprime(11)

Prime Number

Q14. Write a program which can compute the factorial of a given numbers. 
#   The results should be printed in a comma-separated sequence on a single line. 
# input() function can be used for getting user(console) input


#Suppose the input is supplied to the program:  8  
#Then, the output should be:  40320 
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [73]:
n=int(input("Enter Number: "))
factorial=1
while(n>0):
    factorial=factorial*n
    n=n-1
print(factorial)

Enter Number: 8
40320

Q15. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

#Suppose the following input is supplied to the program: 8
#Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider using dict()

In [75]:
num=int(input("please enter number: "))
l1=[]
l2=[]
for value in range(1, num+1):
    a=value*1
    b=value*8
    l1.append(a)
    l2.append(b)
#print("list is", l1)
#print("list is", l2)
d=dict(zip(l1,l2))
print(d)

please enter number: 8
{1: 8, 2: 16, 3: 24, 4: 32, 5: 40, 6: 48, 7: 56, 8: 64}

Q16. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
#Suppose the following input is supplied to the program: 34,67,55,33,12,98
    #Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. you may use tuple() method to convert list to tuple

In [4]:
values=input("enter the values: ")
list1=values.split(',')
tuple1=tuple(list1)
print('list:' , list1)
print('tuple:', tuple1)

enter the values: 34,67,55,33,12,98
list: ['34', '67', '55', '33', '12', '98']
tuple: ('34', '67', '55', '33', '12', '98')

Q17. Write a program that accepts a comma separated sequence of words as input and 
# prints the words in a comma-separated sequence after sorting them alphabetically.

# Suppose the following input is supplied to the program: without,hello,bag,world
# Then, the output should be: bag,hello,without,world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [8]:
t1=input("enter the words: ")
w1=t1.split(",")
r1=[]
for ele in w1:
      r1.append(ele)
r1.sort()
','.join(r1)
#print(r1)

enter the words: without,hello,bag,world

'bag,hello,without,world'

Q18. Write a program that accepts a sequence of whitespace separated words 
# as input and prints the words after removing all duplicate words and sorting them alphanumerically.
# Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again
# Then, the output should be: again and hello makes perfect practice world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.
#We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [21]:
text=input("enter the words: ")
result=[]
word_1=text.split(" ")
for ele in word_1:
  if ele not in result:
      result.append(ele)
result.sort()
' '.join(result)
#print(result)

enter the words: hello world and practice makes perfect and hello world again

'again and hello makes perfect practice world'

Q19. Write a program that accepts a sentence and calculate the number of upper case 
# letters and lower case letters.
#Suppose the following input is supplied to the program: Hello world!
#Then, the output should be: UPPER CASE 1 LOWER CASE 9

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [95]:
string=input("enter the string: ")
upr=0
lwr=0
string=str(string)

for i in string:
    if i.isupper()==True:
        upr+=1
    elif i.islower()==True:
        lwr+=1
print("UPPER CASE:", upr)
print("LOWER CASE:", lwr)

enter the string: Hello world!
UPPER CASE: 1
LOWER CASE: 9

Q20. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [96]:
string=input("enter the string: ")
a=[]
string=str(string)

for i in string:
    a.append(i)
 
reverse_string=""  
for i in reversed(a):
    reverse_string+=i
    
print(reverse_string)

enter the string: abcd123
321dcba